*{
margin: 0;
padding: 0;
font-family: Century Gothic;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.jpg); 
	height: 160vh;
	
	width: auto;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none; 
	margin-top: 25px;
	margin-right: 30px;
	


}

ul li{
	display: inline-block;
}

			ul li a{
				font-size: 39px;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}


.logo img{

	float: left;
	width:150px;
	height: auto;

}
.main{
	max-width: 1500px;
	
	margin: auto;
}

.title{

	position:absolute;
	top:45%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1{
color: #f5f7fa;
	font-size: 30px;
	text-align: center;
}
.button{
	font-size: 25px;
	position:	absolute;
	top:65%;
	left:50%;
	transform: translate(-50%,-50%);
	
}
.btn{
	background-color: #ff0000;
	border:1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
		transition: 0.8s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;

}
	.content-table{
	position:absolute;
	top:100%;
	left:50%;
	transform: translate(-50%,-50%);
	border-collapse: collapse;
	margin: 25px 0;
	min-width: 500px;
	color: #000;
	font-size: .7cm;
	border-radius: 5px 5px 0 0;
	overflow: hidden;

}
.content-table thead tr{
	background-color: #009879;
	color: #ffffff;
	text-align: left;
}

.content-table th,
.content-table td{
	padding: 10px 11px;
}
.content-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
	background-color: #c8cccc ;
	opacity:.9;
}
.content-table tbody tr:nth-of-type(odd){
	background-color: #e6e9ed ;
	opacity:.9;
}
.content-table tbody tr: last-of-type{
border-bottom: 3px solid #00ffff;
}
.content-table tbody tr:hover{
	background-color: #000;
	font-weight: italic;
	color: #fff;
}